:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0e0e0;
  transition: border-color 0.25s;
  outline: none;
}
 
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Pokemon__List {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 768px) { 
  .Pokemon__List {

    grid-template-columns: repeat(2, minmax(0, 1fr));
    
  }
}

@media (min-width: 1024px) { 
  .Pokemon__List {

    grid-template-columns: repeat(3, minmax(0, 1fr));
    
  }
}